/* Estilo do header */
header {
    display: flex;
    justify-content: flex-start; /* Alinha tudo à esquerda */
    align-items: center;
    padding: 20px;
}

/* Ajuste do título */
h1 {
    color: #ff4c4c;
    margin: 0;
    font-size: 3rem;
    padding-right: 60px; /* Dá um espaço entre o título e a navegação */
}

/* Navegação */
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove a margem extra */
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #ff4c4c;
    text-decoration: none;
    font-weight: bold;
}




