/* Estilos globais */
body {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0; /* Removido o padding inicial */
}

/* Estilo do header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #ff4c4c;
    margin: 0;
    text-align: center; /* Centraliza o título */
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #ff4c4c;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos da seção de introdução */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* Centraliza verticalmente considerando o header */
    padding: 20px;
}

.center-content {
    max-width: 800px;
    text-align: center;
    font-size: 1.5rem; /* Aumenta a visibilidade do texto */
    font-weight: bold;
}

/* Botões e inputs */
button, input[type="submit"] {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #e04343;
}

/* Seção laranja */
.orange-section {
    background-color: orange;
    padding: 10px 20px;
    text-align: center;
    margin-top: 40px;
    border-radius: 8px;
}

.orange-section h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.orange-section .button {
    background-color: white;
    color: orange;
    border: 2px solid orange;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
}

.orange-section .button:hover {
    background-color: orange;
    color: white;
}



