<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo1.css') }}">
    <meta charset="UTF-8">
    <title>Escolha do Filme</title>
</head>
<body>
    <header>
        <h1>ANTES DO FRAME</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
                <li><a href="{{ url_for('escolha_filme') }}">Escolha do Filme</a></li>
                <li><a href="{{ url_for('sobre_o_projeto') }}">Sobre o Projeto</a></li>
            </ul>
        </nav>
    </header>

    <section class="recommendation">
        <h2>RECOMENDADOR DE FILMES:</h2>
        <form action="{{ url_for('recommend') }}" method="post">
            <label for="genre" style="font-family: 'Poppins', sans-serif;">Selecione o Gênero:</label>
            <select name="genre" id="genre">
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="GERAR FILMES">
        </form>
    </section>

    <h2 class="section-title">FILMES DESTAQUES DE 2024</h2>
<!-- Lugar para colocar as imagens dos posteres, colocar os seus links -->
    <div class="section-posters">
        <img src="https://br.web.img3.acsta.net/r_1920_1080/pictures/23/09/02/01/06/5918458.jpg" alt="Poster de Duna 2">
        <img src="https://a.ltrbxd.com/resized/alternative-poster/9/0/1/6/7/1/p/26bNTzmrUG5h4f2cgOGg0qQxUo5-0-1000-0-1500-crop.jpg?v=9ad48404d8_" alt="Poster de Ainda Estou aqui">
        <img src="https://a.ltrbxd.com/resized/film-poster/8/3/8/1/4/0/838140-the-substance-0-1000-0-1500-crop.jpg?v=ab9e1072f8" alt="Poster de The substance">
        <img src="https://a.ltrbxd.com/resized/film-poster/9/5/9/5/4/0/959540-anora-0-1000-0-1500-crop.jpg?v=9c632c1bbe" alt="Poster de Amora">
        <img src="https://a.ltrbxd.com/resized/film-poster/8/4/2/3/0/1/842301-challengers-0-1000-0-1500-crop.jpg?v=a7cd63cbef" alt="Poster de Challengers">  
    </div>

</body>
</html>