<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Recomendações de Filmes</title>
    <link rel="stylesheet" href="estilo.css"> <!-- Link para seu CSS -->
</head>
<body>
    <div class="recommendations-container">
        <h1>Suas Recomendações de Filmes para Assistir</h1>
        <ul class="movie-list">
            {% for movie in movies %}
                <li class="movie-item">
                    <strong>{{ movie['Movie Name'] }}</strong> ({{ movie['Year of Release'] }})<br>
                    <span>Direção: {{ movie['Director'] }}</span><br>
                    <span>Gênero: {{ movie['Genre'] }}</span><br>
                    <p>Descrição: {{ movie['Description'] }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Botão voltar -->
    <button class="back-button" onclick="history.back()">Voltar</button>
</body>
</html>
