<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo1.css') }}">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <h1>ANTES DO FRAME</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
                <li><a href="{{ url_for('escolha_filme') }}">Escolha do Filme</a></li>
            </ul>
        </nav>
    </header>
    
    <!-- Nova div para a imagem -->
    <div class="hero-image">
        <img src="{{ url_for('static', filename='images/leo pag 2.png') }}" alt="Imagem principal">
    </div>

    <script>
        document.querySelectorAll('nav a').forEach(link => {
            link.addEventListener('click', () => {
                console.log('Link clicado:', link.href);
            });
        });
    </script>
</body>
</html>