<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Recomendações de Filmes</title>
    <link rel="stylesheet" href="seu_estilo.css">
</head>
<body class="recommendation-page">
    <h1 class="recommendation-title">SUAS RECOMENDAÇÕES DE FILMES PARA ASSISTIR</h1>
    <ul class="recommendation-list">
        {% for movie in movies %}
            <li class="recommendation-item">
                <strong>{{ movie['Movie Name'] }}</strong> ({{ movie['Year of Release'] }})<br>
                Direção: {{ movie['Director'] }}<br>
                Gênero: {{ movie['Genre'] }}<br>
                Descrição: {{ movie['Description'] }}<br>
            </li>
        {% endfor %}
    </ul>
    <a href="/" class="back-button">Voltar</a>
</body>
</html>
